body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3d3d3d; /* Black background for the entire page */
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
    background-color: #333; /* Dark grey background for the calculator */
}

.display {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid #555; /* Slightly lighter border */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #555; /* Dark grey for buttons */
    border: 1px solid #444; /* Darker grey border */
    font-size: 1.2em;
    padding: 20px;
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #666; /* Slightly lighter grey on hover */
}

.btn-operator {
    background-color: #ff9f00; /* Orange for operator buttons */
    color: #fff; /* White text color */
}

.btn-operator:hover {
    background-color: #ff6f00; /* Darker orange on hover */
}

.btn:nth-child(2) {
    background-color: #555; /* Red for the Backspace button */
}

.btn:nth-child(2):hover {
    background-color: #555; /* Darker red on hover */
}

.btn-operator:nth-child(1) {
    grid-column: span 4;
}
